@media (max-width:1480px) {
  .sloterra {
    img {
      width: 310px;
    }
  }
}

@media (max-width:1280px) {
  .sloterra {
    top: 90px;
    left: 85px;

    img {
      width: 290px;
    }
  }
}

@media (max-width:960px) {
  .sloterra {
    top: 75px;
    left: 60px;

    img {
      width: 270px;
    }
  }
}

@media (max-width:768px) {
  .sloterra {
    top: 70px;
    left: 55px;

    img {
      width: 250px;
    }
  }
}

@media (max-width:640px) {
  .sloterra {
    top: 60px;
    left: 45px;

    img {
      width: 215px;
    }
  }
}

@media (max-width:375px) {
  .sloterra {
    top: 50px;
    left: 35px;

    img {
      width: 200px;
    }
  }
}

@media (max-width:320px) {
  .sloterra {
    img {
      width: 150px;
    }
  }
}