@media (max-width:1280px) {
  .sloterra {
    img {
      width: 250px;
    }
  }
}

@media (max-width:1050px) {
  .sloterra {
    img {
      width: 230px;
    }
  }
}

@media (max-width:960px) {
  .sloterra {
    img {
      width: 200px;
    }
  }

  .monkey img {
    max-width: 120%;
  }

  .girl img {
    max-width: 130%;
  }
}

@media (max-width:768px), (max-height: 750px) {
  .signup-form {
    padding: 40px 40px 86px;
  }

  .dep .deposit .deposit__bonus {
    font-size: 21px;
  }

  .sloterra {
    img {
      width: 190px;
    }
  }

  .wheel_spinner--main {
    width: 446.87px;
    height: 446.87px;
  }

  .wheel_spinner--center {
    width: 377.16px;
    height: 376.4px;
  }

  .wheel_btn {
    width: 124.9px;
    height: 124.9px;

    &__inner {
      font-size: 25px;
      line-height: 30px;
    }
  }

  .wheel_wrap:after {
    width: 499.6px;
    height: 525.74px;
  }
}

@media (max-width:730px) {
  .popup_bonus-logo {
    font-size: 40px;
    margin-bottom: 85px;
  }

  .popup_bonus-text {
    font-size: 35px;

    span {
      font-size: 50px;
    }
  }

  .claim-bonus {
    font-size: 35px;
  }
}

@media (max-width:640px) {
  .sloterra {
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 240px;
    }
  }

  .popup_bonus-logo {
    font-size: 35px;
  }

  .popup_bonus-text {
    font-size: 35px;

    span {
      font-size: 40px;
    }
  }

  .claim-bonus {
    font-size: 35px;
  }

  .popup_bonus-decorations-item {
    &--top {
      width: 50px;
      top: -30px;
    }

    &--left,
    &--bottom,
    &--right {
      width: 30px;
    }

    &--right {
      right: -20px;
    }

    &--bottom {
      bottom: -25px;
    }

    &--left {
      left: -20px;
    }
  }

  .popup_bonus-terms a {
    font-size: 16px;
  }

  .monkey img {
    max-width: 140%;
  }

  .girl {
    margin-right: 60px;

    img {
      max-width: 150%;
    }
  }
}

@media (max-width:570px), (max-height: 540px) {
  .wheel_spinner--main {
    width: 313.42px;
    height: 313.42px;
  }

  .wheel_spinner--center {
    width: 264px;
    height: 264px;
  }

  .wheel_btn {
    width: 87.6px;
    height: 87.6px;

    &__inner {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .wheel_wrap:after {
    width: 350.41px;
    height: 368.74px;
  }

  .popup_bonus-logo {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .popup_bonus-text {
    font-size: 30px;
    margin-bottom: 50px;

    span {
      font-size: 35px;
    }
  }

  .claim-bonus {
    font-size: 30px;
  }

  .claim-bonus {
    padding: 20px;
  }
}

@media (max-width:520px) {
  .deposit {
    font-size: 20px;

    span {
      font-size: 20px;
    }
  }

  .deposit .deposit__bonus {
    font-size: 25px;
  }

  .bonus__inner {
    max-width: 320px;
  }

  .social-img {
    max-width: 40px;
  }

  .social-icon a+a {
    margin-left: 15px;
  }

  .signup-form h1 {
    margin-top: 0;
  }

  .box img {
    max-width: 70px;
  }
}

@media (max-width:495px) {
  .popup_bonus-logo {
    font-size: 25px;
  }

  .popup_bonus-text {
    font-size: 27px;

    span {
      font-size: 30px;
    }
  }

  .claim-bonus {
    font-size: 27px;
  }
}

@media (max-width:440px) {
  .popup_bonus-logo {
    font-size: 25px;
  }

  .popup_bonus-text {
    font-size: 27px;

    span {
      font-size: 30px;
    }
  }

  .claim-bonus {
    font-size: 27px;
  }

  .popup_bonus-box {
    padding: 80px 30px;
  }
}

@media (max-width:430px) {
  .deposit {
    font-size: 16px;

    span {
      font-size: 16px;
    }
  }

  .deposit .deposit__bonus {
    font-size: 22px;
  }

  .box {
    img {
      max-width: 70px;
    }
  }

  .bonus__inner {
    max-width: 265px;
  }

  .input-box {
    padding: 8px 15px;
    font-size: 16px;

    &:placeholder {
      font-size: 16px;
    }
  }

  .selectric-wrapper .selectric {
    padding: 8px 15px;
    font-size: 16px;
  }

  .check-box label {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (max-width:400px) {
  .signup-form {
    padding: 40px 40px 86px;
  }

  .signup-form {
    padding: 20px 30px 86px;
  }

  .button {
    padding: 18px 45px;
  }
}

@media (max-width:390px) {
  .popup_bonus-logo {
    font-size: 20px;
  }

  .popup_bonus-text {
    font-size: 23px;

    span {
      font-size: 24px;
    }
  }

  .claim-bonus {
    font-size: 21px;
  }

  .popup_bonus-box {
    padding: 70px 30px;
  }
}

@media (max-width:380px) {
  .sloterra {
    img {
      width: 200px;
    }
  }

  .deposit {
    font-size: 14px;

    span {
      font-size: 14px;
    }
  }

  .deposit .deposit__bonus {
    font-size: 20px;
  }

  .log-in__text {
    display: block;
  }

  .log-in__link {
    display: block;
    margin-left: 0;
  }

  .box img {
    max-width: 50px;
  }

  .bonus__inner {
    max-width: 235px;
  }
}

@media (max-width:360px) {
  .signup-form {
    padding: 40px 40px 86px;
  }
}

@media (max-height: 750px) {
  .wheel_spinner--main {
    width: 446.87px;
    height: 446.87px;
  }

  .wheel_spinner--center {
    width: 377.16px;
    height: 376.4px;
  }

  .wheel_btn {
    width: 124.9px;
    height: 124.9px;

    &__inner {
      font-size: 25px;
      line-height: 30px;
    }
  }

  .wheel_wrap:after {
    width: 499.6px;
    height: 525.74px;
  }
}

@media (max-height: 680px) {
  .wheel_spinner--main {
    width: 313.42px;
    height: 313.42px;
  }

  .wheel_spinner--center {
    width: 264px;
    height: 264px;
  }

  .wheel_btn {
    width: 87.6px;
    height: 87.6px;

    &__inner {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .wheel_wrap:after {
    width: 350.41px;
    height: 368.74px;
  }
}

@media (max-height: 670px) {
  .popup_bonus-logo {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .popup_bonus-text {
    font-size: 30px;
    margin-bottom: 50px;

    span {
      font-size: 35px;
    }
  }

  .claim-bonus {
    font-size: 30px;
  }

  .claim-bonus {
    padding: 20px;
  }
}

@media (max-height: 635px) {
  .deposit {
    font-size: 20px;

    span {
      font-size: 20px;
    }
  }

  .deposit .deposit__bonus {
    font-size: 25px;
  }

  .bonus__inner {
    max-width: 320px;
  }

  .social-img {
    max-width: 40px;
  }

  .social-icon a+a {
    margin-left: 15px;
  }

  .signup-form h1 {
    margin-top: 0;
  }

  .box img {
    max-width: 70px;
  }

  .sloterra img {
    width: 170px;
  }
}